Repository LionelMessi116/GraphQL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kitten, @jovidecroock, @andyrichardson

.github/CODEOWNERS:

/.github/ @kitten @jovidecroock
/.github/ @kitten @jovidecroock @andyrichardson
/.changeset/config.json @kitten @jovidecroock
/scripts/prepare/* @kitten @jovidecroock
/scripts/rollup/* @kitten @jovidecroock
/scripts/changesets/* @kitten @jovidecroock

Fix minor issues in Github Actions
  .github/workflows/release.yml
  .github/workflows/site.yml
Owners: @kitten, @jovidecroock, @andyrichardson

Fix incorrect bullet list (#1558)
  docs/graphcache/cache-updates.md
Owners: none

(chore) - Limit site workflow to docs paths
  .github/workflows/site.yml
Owners: @kitten, @jovidecroock, @andyrichardson

(chore) - Update ESLint + plugins and fix warnings (#1559)
  exchanges/graphcache/src/cacheExchange.test.ts
  exchanges/graphcache/src/operations/write.test.ts
  package.json
  packages/core/src/client.test.ts
  packages/core/src/exchanges/fallback.test.ts
  packages/react-urql/src/hooks/useQuery.ts
  packages/react-urql/src/hooks/useSubscription.ts
  scripts/eslint/common.js
  scripts/eslint/preset.js
  yarn.lock
Owners: none

(docs) - Update CI status badge
  README.md
Owners: none

Fix useQuery `pause` link (#1569)
  docs/api/urql.md
Owners: none

(docs) - missing import/dependency in Next.js example (#1571)
  docs/advanced/server-side-rendering.md
Owners: none

(graphcache) - make list items non-nullable without schema-awareness (#1566)
  .changeset/great-scissors-boil.md
  exchanges/graphcache/src/operations/query.ts
Owners: none

Add Vite-specific installation instructions (#1580)
  docs/basics/svelte.md
Owners: none

(docs) Improve retryIf function in example (#1576)
  docs/advanced/retry-operations.md
Owners: none

(examples) - react.js (#1573)
  .gitignore
  examples/with-react/README.md
  examples/with-react/package.json
  examples/with-react/src/App.js
  examples/with-react/src/index.css
  examples/with-react/src/index.js
  examples/with-react/src/pages/PokemonList.js
Owners: none

(examples) Usage of retryExchange (#1575)
  examples/with-retry/README.md
  examples/with-retry/package.json
  examples/with-retry/src/App.js
  examples/with-retry/src/index.css
  examples/with-retry/src/index.js
  examples/with-retry/src/pages/Color.js
Owners: none

(introspection) - Add options to include more schema info to minifyIntrospectionQuery (#1578)
  .changeset/lovely-hounds-tap.md
  packages/introspection/src/minifyIntrospectionQuery.ts
Owners: none

(chore) - remove closure-compiler (#1570)
  .changeset/curvy-bobcats-fry.md
  exchanges/graphcache/default-storage/package.json
  package.json
  scripts/babel/transform-function-expressions.js
  scripts/rollup/config.js
  scripts/rollup/plugins.js
  yarn.lock
Owners: @kitten, @jovidecroock

(examples) - next.js (#1502)
  examples/with-next/README.md
  examples/with-next/package.json
  examples/with-next/pages/_app.js
  examples/with-next/pages/index.js
  examples/with-next/pages/server.js
  examples/with-next/pages/static.js
Owners: none

(core) - Make Client more forgiving by sharing result sources that emit cached results (#1515)
  packages/core/src/__snapshots__/client.test.ts.snap
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/streamUtils.ts
  packages/core/src/utils/withPromise.ts
Owners: none

(core) - Add changeset for #1515
  .changeset/quiet-tips-drive.md
Owners: none

(chore) - Remove deprecated suspenseExchange package (#1583)
  exchanges/suspense/CHANGELOG.md
  exchanges/suspense/LICENSE
  exchanges/suspense/README.md
  exchanges/suspense/package.json
  exchanges/suspense/src/index.ts
  exchanges/suspense/src/suspenseExchange.test.ts
  exchanges/suspense/src/suspenseExchange.ts
  exchanges/suspense/tsconfig.json
  packages/next-urql/examples/5-with-suspense-exchange/README.md
  packages/next-urql/examples/5-with-suspense-exchange/components/pokemon_list.tsx
  packages/next-urql/examples/5-with-suspense-exchange/next-env.d.ts
  packages/next-urql/examples/5-with-suspense-exchange/next.config.js
  packages/next-urql/examples/5-with-suspense-exchange/package.json
  packages/next-urql/examples/5-with-suspense-exchange/pages/index.tsx
  packages/next-urql/examples/5-with-suspense-exchange/public/favicon.ico
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Bug@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Dark@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Dragon@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Electric@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Fairy@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Fight@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Fire@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Flying@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Ghost@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Grass@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Ground@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Ice@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Normal@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Poison@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Psychic@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Rock@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Steel@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/public/types/Water@2x.png
  packages/next-urql/examples/5-with-suspense-exchange/tsconfig.json
  packages/next-urql/examples/5-with-suspense-exchange/yarn.lock
Owners: none

(chore) - Remove @urql/exchange-suspense from releases
  .changeset/curvy-bobcats-fry.md
Owners: none

(examples) Usage of persistedFetchExchange (#1582)
  examples/with-apq/README.md
  examples/with-apq/package.json
  examples/with-apq/src/App.js
  examples/with-apq/src/index.css
  examples/with-apq/src/index.js
  examples/with-apq/src/pages/LocationsList.js
  examples/with-retry/README.md
Owners: none

(examples) Add with-multipart example (#1585)
  examples/with-multipart/README.md
  examples/with-multipart/package.json
  examples/with-multipart/src/App.js
  examples/with-multipart/src/index.css
  examples/with-multipart/src/index.js
  examples/with-multipart/src/pages/FileUpload.js
Owners: none

(chore) - Upgrade direct and transitive dependencies (#1584)
  exchanges/refocus/package.json
  package.json
  packages/next-urql/package.json
  packages/react-urql/package.json
  packages/react-urql/src/hooks/useMutation.test.tsx
  packages/react-urql/src/hooks/useQuery.test.tsx
  packages/react-urql/src/hooks/useSubscription.test.tsx
  packages/react-urql/src/test-utils/ssr.test.tsx
  packages/site/package.json
  scripts/prepare/postinstall.js
  tsconfig.json
  yarn.lock
Owners: @kitten, @jovidecroock

(chore) - Remove CodeSandbox CI
  .codesandbox/ci.json
Owners: none

fix imports on next examples (#1587)
  examples/with-next/pages/index.js
  examples/with-next/pages/server.js
Owners: none

(graphcache) - Improve internal typings for lists, scalars, and overall cleanliness (#1591)
  .changeset/bright-tools-taste.md
  exchanges/graphcache/src/extras/relayPagination.ts
  exchanges/graphcache/src/operations/invalidate.ts
  exchanges/graphcache/src/operations/query.ts
  exchanges/graphcache/src/store/data.ts
  exchanges/graphcache/src/store/keys.ts
  exchanges/graphcache/src/store/store.ts
  exchanges/graphcache/src/types.ts
Owners: none

(examples) Add with-pagination (#1586)
  examples/with-pagination/README.md
  examples/with-pagination/package.json
  examples/with-pagination/src/App.js
  examples/with-pagination/src/index.css
  examples/with-pagination/src/index.js
  examples/with-pagination/src/pages/PaginatedNpmSearch.js
  examples/with-retry/README.md
Owners: none

(examples) Add with-graphcache-pagination (#1593)
  examples/with-graphcache-pagination/README.md
  examples/with-graphcache-pagination/package.json
  examples/with-graphcache-pagination/src/App.js
  examples/with-graphcache-pagination/src/index.css
  examples/with-graphcache-pagination/src/index.js
  examples/with-graphcache-pagination/src/pages/PaginatedNpmSearch.js
  examples/with-pagination/README.md
Owners: none

(graphcache) - Add cache.link method for writing links (#1551)
  .changeset/moody-mice-arrive.md
  docs/api/graphcache.md
  docs/graphcache/cache-updates.md
  docs/graphcache/errors.md
  exchanges/graphcache/src/operations/shared.ts
  exchanges/graphcache/src/store/store.test.ts
  exchanges/graphcache/src/store/store.ts
  exchanges/graphcache/src/types.ts
Owners: none

(vue) - Implement client handles with methods to call hooks (#1599)
  .changeset/beige-candles-kneel.md
  .changeset/fluffy-ligers-draw.md
  docs/api/vue.md
  docs/basics/vue.md
  packages/vue-urql/example/package.json
  packages/vue-urql/example/src/App.vue
  packages/vue-urql/example/src/components/HelloWorld.vue
  packages/vue-urql/example/yarn.lock
  packages/vue-urql/package.json
  packages/vue-urql/src/index.ts
  packages/vue-urql/src/useClient.ts
  packages/vue-urql/src/useClientHandle.ts
  packages/vue-urql/src/useMutation.test.ts
  packages/vue-urql/src/useMutation.ts
  packages/vue-urql/src/useQuery.test.ts
  packages/vue-urql/src/useQuery.ts
  packages/vue-urql/src/useSubscription.test.ts
  packages/vue-urql/src/useSubscription.ts
  yarn.lock
Owners: none

(core) - Avoid dispatching an operation for already active cache-first/only operations (#1600)
  .changeset/large-frogs-tease.md
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/utils/streamUtils.ts
Owners: none

(next) - allow subsequent statically generated pages to hydrate the ssr-cache (#1602)
  .changeset/witty-spiders-matter.md
  examples/with-next/package.json
  packages/next-urql/src/with-urql-client.ts
Owners: none

(examples) - With-refresh-auth (#1605)
  examples/with-graphcache-pagination/README.md
  examples/with-multipart/README.md
  examples/with-refresh-auth/README.md
  examples/with-refresh-auth/package.json
  examples/with-refresh-auth/src/App.js
  examples/with-refresh-auth/src/auth/Store.js
  examples/with-refresh-auth/src/client/index.js
  examples/with-refresh-auth/src/index.css
  examples/with-refresh-auth/src/index.js
  examples/with-refresh-auth/src/pages/Home.js
  examples/with-refresh-auth/src/pages/LoginForm.js
  examples/with-refresh-auth/src/pages/Profile.js
  package.json
Owners: none

Add with-react-native example (#1607)
  .gitignore
  examples/with-react-native/App.js
  examples/with-react-native/README.md
  examples/with-react-native/app.json
  examples/with-react-native/index.js
  examples/with-react-native/package.json
  examples/with-react-native/src/screens/PokemonList.js
Owners: none

(examples) - Add willAuthError to with-refresh-token example (#1608)
  examples/with-refresh-auth/src/client/index.js
  examples/with-refresh-auth/src/pages/Home.js
  examples/with-refresh-auth/src/pages/Profile.js
Owners: none

(docs) Review cacheExchange code example (#1610)
  docs/graphcache/cache-updates.md
Owners: none

(docs) - Expand willAuthError section with more notes on usage (#1601)
  docs/advanced/authentication.md
Owners: none

(examples) Add with-cache-updates example (#1611)
  examples/with-cache-updates/README.md
  examples/with-cache-updates/package.json
  examples/with-cache-updates/src/App.js
  examples/with-cache-updates/src/client/index.js
  examples/with-cache-updates/src/index.css
  examples/with-cache-updates/src/index.js
  examples/with-cache-updates/src/pages/Home.js
  examples/with-cache-updates/src/pages/Links.js
  examples/with-cache-updates/src/pages/LoginForm.js
  examples/with-refresh-auth/src/client/index.js
Owners: none

(examples) - Add updated Vue 3 example to toplevel examples (#1614)
  examples/with-vue3/.gitignore
  examples/with-vue3/index.html
  examples/with-vue3/package.json
  examples/with-vue3/src/App.vue
  examples/with-vue3/src/PokemonList.vue
  examples/with-vue3/src/main.js
  examples/with-vue3/vite.config.js
  packages/vue-urql/example/package.json
  packages/vue-urql/example/public/favicon.ico
  packages/vue-urql/example/src/assets/logo.png
  packages/vue-urql/example/src/components/HelloWorld.vue
  packages/vue-urql/example/src/index.css
  packages/vue-urql/example/src/vite.config.js
  packages/vue-urql/example/yarn.lock
Owners: none

(examples) - Add updated Svelte example to toplevel examples (#1613)
  examples/with-svelte/.gitignore
  examples/with-svelte/README.md
  examples/with-svelte/index.html
  examples/with-svelte/package.json
  examples/with-svelte/src/App.svelte
  examples/with-svelte/src/PokemonList.svelte
  examples/with-svelte/src/main.js
  examples/with-svelte/vite.config.js
  packages/svelte-urql/example/README.md
  packages/svelte-urql/example/package.json
  packages/svelte-urql/example/public/favicon.png
  packages/svelte-urql/example/public/global.css
  packages/svelte-urql/example/public/index.html
  packages/svelte-urql/example/rollup.config.js
  packages/svelte-urql/example/src/App.svelte
  packages/svelte-urql/example/yarn.lock
Owners: none

(graphcache) - Add generics for codegen to store and cacheExchange (#1562)
  .changeset/silent-turtles-check.md
  exchanges/graphcache/src/cacheExchange.ts
  exchanges/graphcache/src/offlineExchange.ts
  exchanges/graphcache/src/store/store.ts
  exchanges/graphcache/src/types.ts
Owners: none
